html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: "Jersey 10", sans-serif;
  cursor: url("assets/cursor.png"), auto;
}

body, body * {
    cursor: inherit !important;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

#startMenu {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  z-index: 9999;
}

h1 {
  font-size: 100px;
  margin: 0;
}

button {
  font-family: "Jersey 10", sans-serif;
  font-size: 50px;
  background: #a19fd9;
  color: white;
  border: none;
  height: fit-content;
  width: 100px;
}

button:hover {
  background: #b4b0ed;
}


input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  background: white;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 24px;
  background: #a19fd9;
  border: 0px solid white;
}

label {
  font-size: 20px;
}

img { display: none; }
