html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
    background-color:black;
    cursor: url("assets/cursor.png"), auto;
    font-family: "Jersey 10", sans-serif;
}

canvas {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;

    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#startMenu {
  position: fixed;         
  inset: 0;                     
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button:hover {
  background-color: #b4b0ed;
}

button {
  color: white;
  border-width: 0px;
  background-color:#a19fd9;
  width: fit-content;
  font-size: 50px;
  z-index: 9999;
  cursor: url("assets/cursor.png"), auto;
  font-family: "Jersey 10", sans-serif;
}
#fullscreen{
  display:none;
}
img{
  display:none;
}
h1{
  font-size:100px;
  position: fixed;         
  inset: 0;                     
  display: flex;
  justify-content: center;
  text-align: center;
}