html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
}

#startMenu {
  position: fixed;         
  inset: 0;                     
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#start:hover {
  background-color: lightpink;
}

#start {
  color: white;
  border-width: 0px;
  border-radius: 10px;
  background-color:pink;
  width: fit-content;
  font-size: 5vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

