html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
    background-color:black;
}

canvas {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;

    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#startMenu {
  position: fixed;         
  inset: 0;                     
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button:hover {
  background-color: lightpink;
}

button {
  color: white;
  border-width: 0px;
  border-radius: 10px;
  background-color:pink;
  width: fit-content;
  font-size: 5vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  z-index: 9999;
}
#fullscreen{
  display:none;
}
img{
  display:none;
}
